.ReservationModal {
  font-family: $first-font;
  position: fixed;
  @include size(80vw, 60vh);
  z-index: 1;
  text-align: center;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%);
    background-color: $secondary-color-alpha;
  }
  .content {
    @include flex(column, center, center, 30px, nowrap);
    position: fixed;
    top: 25vh;
    left: 5%;
    @include size(90%, 50vh);
    border-radius: 12px;
    border: 1px solid $secondary-color;
    box-shadow: 0 0 12px $secondary-color;
    background-color: $background;
    .title {
      @include space-around();
    }
    .form {
      @include flex(column, center, center, 10px, nowrap);
      .input {
        @include size(260px, 30px);
        border: 0;
        outline: none;
        border-radius: 10px;
        @include space-around(0, 0, 6px);
        cursor: pointer;
      }
      .inputBtn {
        background-color: transparent;
        border: 1px solid $secondary-color;
        color: $primary-color;
        @include space-around(0, 6px, 6px);
        border-radius: 10px;
        box-shadow: 0 0 10px $secondary-color;
        cursor: pointer;
        &:hover {
          background-color: $secondary-color;
          color: $background;
        }
      }
    }
  }
}
