@import "../../../style/variables";
@import "../../../style/mixins";
.Hero {
  border-bottom: 1px solid $secondary-color;
  @include space-around(0, 8px, 8px);
  // padding: 8px;
  .list {
    @include flex(row, space-evenly, center, 20px, wrap);
    // display: flex;
    // justify-content: space-evenly;
    // flex-wrap: wrap;
    // gap: 20px;
    font-size: 0.8rem;
    list-style-type: none;
    @include space-around(0, 10px, 8px);
    // margin: 0;
    // padding: 10px 8px;
  }
  .item {
    cursor: pointer;
    @include space-around(0, 2px, 2px);
    // padding: 2px;
  }
  .item:hover {
    border-bottom: 1px solid $secondary-color;
    cursor: pointer;
    color: $secondary-color;
    transition: all 0.35s;
  }
}
