@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");
$first-font: "Roboto", sans-serif;
$second-font: "Dancing Script", cursive;

$size-big: 1.6em;
$size-small: 0.8em;
