@import "../../../style/variables";
@import "../../../style/mixins";

@counter-style repeating-emoji {
  system: cyclic;
  // symbols: "\1F378""\1F377""\1F379""\1F37E";
  symbols: "\2B50";
  suffix: " ";
}

.Card {
  position: relative;
  @include flex(row, flex-end, center, 0, nowrap);
  // display: flex;
  // justify-content: flex-end;
  border: 1px solid $secondary-color;
  box-shadow: 0 0 4px $secondary-color;
  border-radius: 60px 0 60px 0;
  width: 300px;
  height: 400px;
  @include space-around(8px, 0, 0);
  // margin: 8px;
  &__image {
    border-radius: 60px 0 60px 0;
    filter: blur(0.5px) contrast(80%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__description {
    background-color: $background-alpha;
    border-radius: 20px 0 60px 0;
    bottom: 0;
    @include space-around(0, 12px, 12px);
    // padding: 12px;
    position: absolute;
  }
  &__title {
    font-size: 1.6em;
    @include space-around(0, 0, 0);
    // margin: 0;
    text-shadow: 0px 2px 4px $secondary-color;
  }

  &__ingredients-list {
    @include flex(column, space-evenly, start, 10px, nowrap);
    // display: flex;
    // flex-direction: column;
    // gap: 10px;
    list-style-type: repeating-emoji;
    @include space-around(8px, 0, 40px);
    // margin: 8px;
    text-shadow: 0px 2px 4px $secondary-color;
  }
}
