@counter-style repeating-emoji {
  system: cyclic;
  // symbols: "\1F378""\1F377""\1F379""\1F37E";
  symbols: "\2B50";
  suffix: " ";
}

.Card {
  position: relative;
  @include flex(row, flex-end, center, 0, nowrap);
  border: 1px solid $secondary-color;
  box-shadow: 0 0 4px $secondary-color;
  border-radius: 60px 0 60px 0;
  @include size(300px, 400px);
  @include space-around(8px, 0, 0);
  perspective: 10000px;

  .image {
    border-radius: 60px 0 60px 0;
    filter: blur(0.5px) contrast(80%);
    object-fit: cover;
    @include size(100%);
  }
  .description {
    background-color: $background-alpha;
    border-radius: 20px 0 60px 0;
    right: 0;
    bottom: 0;
    @include space-around(0, 12px, 12px);
    position: absolute;
  }
  .title {
    font-size: $size-big;
    @include space-around(0, 0, 0);
    text-shadow: 0px 2px 4px $secondary-color;
  }
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    backface-visibility: hidden;
    transition: $slow;
    transform-style: preserve-3d;
    border-radius: 60px 0 60px 0;
    box-shadow: 0 0 4px $secondary-color;
  }

  .back {
    @include flex(row, center, center, 0, nowrap);
    border-radius: 60px 0 60px 0;
    transform: rotateY(180deg);
    text-align: justify;
    .instructions {
      @include space-around(12px, 4px, 6px);
      position: relative;
      font-size: $size-small;
      text-shadow: 0px 2px 4px $secondary-color;
    }
  }

  &.flipped .front {
    transform: rotateY(180deg);
  }

  &.flipped .back {
    transform: rotateY(0deg);
  }

  .ingredientsList {
    @include flex(column, space-evenly, start, 10px, nowrap);
    list-style-type: repeating-emoji;
    @include space-around(8px, 0, 40px);
    text-shadow: 0px 2px 4px $secondary-color;
  }
}
