@counter-style repeating-emoji {
  system: cyclic;
  symbols: "\1F378""\1F377""\1F379""\1F37E"; // unicode code point
  suffix: " ";
}

.Card {
  font-family: "Roboto", sans-serif;
  display: flex;
  border: 1px solid palevioletred;
  border-radius: 10px 0 0 10px;
  height: 300px;
  margin: 8px;
  &__image-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  &__image {
    border-radius: 10px 0 0 10px;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 1.6em;
    position: absolute;
    left: 40%;
    top: 25%;
    text-shadow: 0px 2px 4px #db7093;
    z-index: 1;
  }

  &__ingredients {
    // border: 1px solid red;
    position: relative;
    top: 25%;
    width: 40%;
    height: 70%;
    padding: 10px 10px 0 0;
    text-shadow: 0px 1px 2px #db7093;
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: repeating-emoji;
      margin: 0;
    }
  }
}
