.Navbar {
  @include flex(row, space-between, center, 0, nowrap);
  border-bottom: 1px solid $secondary-color;

  .title {
    font-family: $second-font;
    font-size: $size-big;
    @include space-around(0, 10px, 20px);
  }

  .list {
    @include flex(row, space-evenly, center, 10px, nowrap);
    font-size: $size-small;
    list-style-type: none;
    padding-inline-start: 0;
    @include space-around(0, 0, 10px);
  }

  .hamburger {
    display: none;
  }

  .item {
    border-bottom: 1px solid $background;
    cursor: pointer;
    @include space-around(0, 4px, 4px);
    &:hover {
      border-bottom: 1px solid $secondary-color;
      color: $secondary-color;
      cursor: pointer;
      transition: $fast;
    }
  }
}

@media screen and (max-width: 600px) {
  .Navbar {
    .list {
      display: none;
    }

    .hamburger {
      @include space-around(0, 1px, 20px);
      display: flex;
      @include size(30px);
      cursor: pointer;
      &:hover {
        color: $secondary-color;
        transition: $fast;
      }
    }
  }
}
